{% macro edc_help(contentHelp) %}
    {{ _self.edc_help_html(contentHelp) }}
    {{ _self.edc_help_javascript(contentHelp) }}
{% endmacro edc_help %}

{% macro edc_help_html(contentHelp) %}
    {# Get the context Item#}
    {% set contextItem = contentHelp.contextItem %}
    {# Define the key according to the contextItem is defined or not #}
    {% if contextItem %}
        {% set keyPopover = ['popover-',contextItem.mainKey, '-', contextItem.subKey]|join|replace({'.':'-'}) %}
    {% else %}
        {% set keyPopover = 'popover' %}
    {% endif %}
    {% set contentKeyPopover = ['content-', keyPopover]|join %}
    {# Set the default configuration for the popover #}
    {% set edc_summary = true %}
    {% set edc_icon = 'fa fa-question-circle' %}
    {# Override defined configuration in configuration file #}
    {% if popover is defined %}
        {% if popover.summary is defined %}
            {% set edc_summary = popover.summary %}
        {% endif %}
        {% if popover.icon is defined %}
            {% set edc_icon = popover.icon %}
        {% endif %}
    {% endif %}
    {% if edc_summary %}
        <a href="javascript: void(0)" id="{{ keyPopover }}" rel="{{ keyPopover }}">
            <i class="{{ edc_icon }} edc-icon" aria-hidden="true"></i>
        </a>
        <!-- Content for Popover: -->
        <div id="{{ contentKeyPopover }}" style="display:none">
            <div>
                {% if contextItem %}
                    <div class='edc-desc'>{{ contextItem.description }}</div>
                    {% if contextItem.articles|length > 0 %}
                        <div class='edc-articles'>
                            <div class='edc-articles-header'>{{ contentHelp.labels['articles'] }}</div>
                            <div class='edc-articles-body'>
                                <ul>
                                    {% for article in contextItem.articles %}
                                        <li><a href='{{ article.webHelpUrl }}'
                                               onclick="goToEdcUrl('{{ article.webHelpUrl }}')"
                                               target='edc-help'><span
                                                        class='edc-article-link'>{{ article.label|e }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if contextItem.links|length > 0 %}
                        <div class='edc-links'>
                            <div class='edc-links-header'>{{ contentHelp.labels['links'] }}</div>
                            <div class='edc-links-body'>
                                <ul>
                                    {% for link in contextItem.links %}
                                        <li><a href='{{ link.webHelpUrl }}'
                                               onclick="goToEdcUrl('{{ link.webHelpUrl }}')"
                                               target='edc-help'><span
                                                        class='edc-link-link'>{{ link.label|e }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% elseif contextItem %}
        <a href='{{ contextItem.webHelpUrl }}'
           target='edc-help'><i class="{{ edc_icon }} edc-icon" aria-hidden="true"></i></a>
    {% else %}
        <i class="{{ edc_icon }} edc-icon" aria-hidden="true"></i>
    {% endif %}
{% endmacro edc_help_html %}

{% macro edc_help_javascript(contentHelp) %}
    {# Set the default configuration for the popover #}
    {% set edc_summary = true %}
    {% set edc_placement = 'bottom' %}
    {% set edc_trigger = 'focus' %}
    {% set edc_animation = true %}
    {% set edc_container = 'body' %}
    {% set edc_delay_show = 100 %}
    {% set edc_delay_hide = 100 %}

    {% if popover is defined %}
        {% if popover.summary is defined %}
            {% set edc_summary = popover.summary %}
        {% endif %}
        {% if popover.placement is defined %}
            {% set edc_placement = popover.placement %}
        {% endif %}
        {% if popover.trigger is defined %}
            {% set edc_trigger = popover.trigger %}
        {% endif %}
        {% if popover.animation is defined %}
            {% set edc_animation = popover.animation %}
        {% endif %}
        {% if popover.container is defined %}
            {% set edc_container = popover.container %}
        {% endif %}
        {% if popover.delay_show is defined %}
            {% set edc_delay_show = popover.delay_show %}
        {% endif %}
        {% if popover.delay_hide is defined %}
            {% set edc_delay_hide = popover.delay_hide %}
        {% endif %}
    {% endif %}
    {# Get the context Item#}
    {% set contextItem = contentHelp.contextItem %}
    {# Define the key according to the contextItem is defined or not #}
    {% if contextItem %}
        {% set keyPopover = ['popover-',contextItem.mainKey, '-', contextItem.subKey]|join|replace({'.':'-'}) %}
    {% else %}
        {% set keyPopover = 'popover' %}
    {% endif %}
    {% set contentKeyPopover = ['content-', keyPopover]|join %}
    {% if edc_summary %}
        <script>
            $(document).ready(
                configureEdcPopover(
                    '{{ keyPopover }}', '{{ edc_placement }}', '{{ edc_trigger }}',
                        {{ edc_animation }}, '{{ edc_container }}', {{ edc_delay_show }}, {{ edc_delay_hide }},
                    '{% if contextItem %}{{ contextItem.label }}{% else %}No defined{% endif %}',
                    '{{ contentKeyPopover }}')
            );
        </script>
    {% endif %}
{% endmacro edc_help_javascript %}
